.Calculator{
    background-image: linear-gradient(to bottom right, #4a8480, #4f8c88);
    width: 397px;
    height: 660px;
    position: relative;
    
}

.Wrapper{
    background-color: white;
    width: 380px;
    height: 645px;
    position: absolute;
    top: 5px;
    left: 7px;
    border-radius: 7px;
}

.Display{
    width: 360px;
    height: 150px;
    background-color: #d7d9df;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 5px;
}
